* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: 5%;
 
}

h1,h2 {
    visibility: hidden;
}

nav {
    padding: 0;
    margin: 0;
}

#company-logo {
    width: 150px;
    height: 150px;
}

nav ul {    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: sticky;
    width: 100%;
    text-align:center;
    align-items: center;
    
}

nav li {
    display: inline-block;
    list-style: none;
    background-color: #000000;
    padding: 5px;
    
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}

body {
    color: #FFFFFF;
}

h3 {
    
}

.welcome-slides {
    width: 100%;
    position: relative;
    margin: auto;
}

.welcome-slides img {
    height: 500px;
    width: 100%;
}