* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: 5%;
 
}


h1,h2,#welcome h3 {
    display: none;
}

nav {
    margin: 0;
    padding: 0; 
}

#company-logo {
    width: 150px;
    height: 150px;
}

nav ul {    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: sticky;
    width: 100%;
    text-align:center;
    align-items: center;
    
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
}

#welcome {
    padding: 0;
    margin: 0;
    width: 100%;
}

#beenie-girl {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}

.collections h3 {
    padding-top: 25px;
    text-align: center;
}

#categories {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#categories img {
    width: 500px;
    height: 300px;
}

#bench-caps {
    grid-column-start: 1;
    grid-row-start: 1;
}

#beenie {
    grid-column-start: 2;
    grid-row-start: 2;
}

#trucker {
    grid-column-start: 1;
    grid-row-start: 3;
}

#winter-beenies {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 400px;
    height: 250px;
}

#contact {
    text-align: center;
}